<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="row">
        <h1>Iniciar Sesion</h1>
        <form method="post" class="col s4">
            <!-- No incluir {% csrf_token %} aquí -->
            {{ form.as_p }}
            <button type="submit" class="btn yellow black-text">Iniciar Sesion</button>
        </form>
    </div>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
</body>
</html>
