# Entornos virtuales
envIngSoft3/

# Archivos de configuración de sistema
*.pyc
*.pyo
__pycache__/

# Archivos locales
*.sqlite3
*.log

# Docker y contenedores
*.env

# Migraciones y configuraciones de VSCode (opcional)
migrations/
.vscode/

# Node modules
node_modules/
node_modules