{% include 'navbar.html' %}
<h1>Crear nueva nota</h1>
<div class="row">
    <form method="post" class="">
        {% csrf_token %}
        <div class="row"></div>
            <label for="id_title">Título:</label>
            <input type="text" name="title" id="id_title">
        </div>
        <div class="row">
            <label for="id_body">Cuerpo:</label>
            <textarea name="body" id="id_body"></textarea>
        </div>
        <button name="agregarNota" id="id_agregarNota" type="submit" class="btn yellow black-text"><i class="material-icons black-text">note_add</i>Crear nota</button>
    </form>
</div>
<a class="btn blue darken-4" href="/notes">Cancelar</a>